<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ product.name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img [ngSrc]="product.picture" [alt]="product.name"  width="4000"
         height="3000"
         ngSrcset="200w, 400w, 600w, 800w, 1000w, 1200w, 1600w, 2000w, 3000w">

    <h4>Price: {{ product.price | currency }}
      <button *ngIf="isExpanded" mat-icon-button color="primary" aria-label="Add to Cart"
              (click)="dialogRef.close(product.id)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </h4>

    <h4>Rate: <span>{{ product.customerRating }} stars</span></h4>

    <div *ngIf="isExpanded">
      <h4>Description</h4>
      <p>{{product.description}}</p>

      <div *ngIf="product.reviews?.length">
        <h4>Reviews</h4>
        <ul>
          <li *ngFor="let review of product.reviews">
            <p><strong>User:</strong> {{review.userName}}</p>
            <p>{{review.reviewText}}</p>
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>

